{%- set compo_core_settings = compo_core_manager.settings -%}

{% set site = seo_page.getSite() %}

{% if compo_core_settings.logo_image %}
    <div itemscope itemprop="publisher" itemtype="https://schema.org/Organization" class="publisher-organization-itemscope">
        <meta itemprop="name" content="{{ site.name }}"/>

        <div itemscope itemprop="logo" itemtype="https://schema.org/ImageObject" class="logo-image-object-itemscope">
            <meta itemprop="url" content="{% path  compo_core_settings.logo_image, 'reference' %}"/>

            {% media compo_core_settings.logo_image, 'reference' with {'alt': site.name } %}
        </div>
    </div>
{% endif %}
