{%- set compo_core_settings = compo_core_manager.settings -%}

{% if compo_core_manager.isDisplayNotify() %}

    <div class="modal fade" tabindex="-1" role="dialog" id="popup_notify_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabelNotyfu">{{ compo_core_settings.popup_notify_header}}</h4>
                </div>
                <div class="modal-body">
                    {{ compo_core_settings.popup_notify|raw }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        $('#popup_notify_modal').modal('show')

    </script>

{% endif %}

<div id="callback" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Заказать звонок</h3>
            </div>
            <div class="modal-body">
                {{ sonata_block_render({
                    'type': 'compo_feedback.block.service.feedback_form',
                    'settings': {
                        'type': 'compo_feedback.callback'
                    }
                }) }}

            </div>
        </div>
    </div>
</div>

<div id="write_to_director" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Написать директору</h3>
            </div>
            <div class="modal-body">
                {{ sonata_block_render({
                    'type': 'compo_feedback.block.service.feedback_form',
                    'settings': {
                        'type': 'compo_feedback.write_to_director'
                    }
                }) }}

            </div>
        </div>
    </div>
</div>
