<div class="row index-artices-blocks">
    <div class="col-lg-6">
        {{ sonata_block_render({
            'type': 'compo_news.block.service.news_last',
            'settings': {
                'limit': settings.limit
            }
        }) }}
    </div>

    <div class="col-lg-6">
        {{ sonata_block_render({
            'type': 'compo_articles.block.service.articles_last',
            'settings': {
                'limit': settings.limit
            }
        }) }}
    </div>
</div>