{% if object is defined %}
    <a class="btn btn-sm btn-default"
       title="Создать дочерний элемент"
       href="{{ admin.routeGenerator.generateUrl(admin, 'create', { parentId: object.id} ) }}"
    >
        <i class="fa fa-plus"></i>
    </a>
{% endif %}
