{% extends sonata_block.templates.block_base %}



{% block block %}

    <div class="banners-carousel-zoom container">
        <div class="carousel-inner row" >
            {% for item in list %}
                <div class=" col-lg-4" ><a href="{% path item.image, 'reference' %}" class="item" data-fancybox="gallery-zoom"><img alt="" src="{% path item.image, 'reference' %}"/></a></div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
