{% if admin.hasAccess('edit', object) and admin.hasRoute('sortable') %}
    <a class="btn btn-sm btn-default table-sortable-handle">
        <i class="fa fa-arrows" aria-hidden="true"></i>
    </a>
{% endif %}
