.skin-black .main-header>.logo {
    background-color: #222d32;
    border-right: 1px solid #222d32;
}

.skin-black .main-header>.logo:hover {
    background-color: #374850;
    border-right: 1px solid #374850;
}

.login-logo img {
    width: initial !important;
}
