{% block seo_vars_widget %}
    <div class="well">
        <div>
            <strong>&#123;&#123; site.name &#125;&#125;</strong> - Имя сайта
        </div>
        <div>
            <strong>&#123;&#123; site.metaKeyword &#125;&#125;</strong> - Ключевые слова сайта
        </div>

        <div>
            <strong>&#123;&#123; site.metaDescription &#125;&#125;</strong> - Описание сайта
        </div>
    </div>
{% endblock %}