{#
Одноколоночный шаблон
#}
{% extends 'CompoCoreBundle::layout.html.twig' %}

{% block layout %}
    <div id="layout" class="1columns-layout">
        {% block content %}
            {% include 'CompoCoreBundle:Block:content.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}