{%- set compo_core_settings = sylius_settings('compo_core_settings') -%}

{%  set site = seo_page.getSite() %}

{% if compo_core_settings.logo_image %}
    <div itemscope itemprop="publisher" itemtype="https://schema.org/Organization" class="hidden">
        <meta itemprop="name" content="{{ site.name }}"/>

        <div itemscope itemprop="logo" itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{% path  compo_core_settings.logo_image, 'reference' %}"/>
            <meta itemprop="width" content="{{ media_width(compo_core_settings.logo_image) }}">
            <meta itemprop="height" content="{{ media_height(compo_core_settings.logo_image) }}">

            {% media compo_core_settings.logo_image, 'reference' with {'alt': site.name } %}
        </div>
    </div>
{% endif %}