<div class="panel panel-default ">

    <div class="panel-heading">
        <a href="{{ path('compo_news_index') }}">Новости</a>
    </div>

    <div class="panel-body">
        {% for news in news %}

        <ul class="news-preview">
            <li>
                <div class="date">{{ news.publicationAt|date("d.m.Y") }}</div>

                <a href="{{ path('compo_news_show_by_slug', {'slug': news.slug}) }}">{{ news.name }}</a>
            </li>

        </ul>
    </div>
</div>