<div class="panel panel-default ">

    <div class="panel-heading">
        <a href="{{ path('compo_news_index') }}">Новости</a>
    </div>

    <div class="panel-body">
        <ul class="news-preview">
            {% for news_item in news %}
                <li>
                    <div class="date">{{ news_item.publicationAt|date("d.m.Y") }}</div>

                    <a href="{{ path('compo_news_show_by_slug', {'slug': news_item.slug}) }}">{{ news_item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>