.panel-default > .panel-heading {
    background-color: #EEE;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
    min-height: 40px;
}

.panel-default {
    box-sizing: content-box;
    margin-bottom: 18px;
    width: auto;
    overflow: hidden;
    border-radius: 4px;
}

.panel-body {
    padding: 10px 15px 10px 15px;
}

.panel-title {
    line-height: 40px;
}

.panel-collapse-panel .panel-heading a {
    text-decoration: none;
    display: block;
}

.panel-collapse-panel .panel-heading a:focus,
.panel-collapse-panel .panel-heading a:hover {
    text-decoration: none;
}

.panel-collapse-panel .panel-heading:hover {
    text-decoration: none;
    background-color: #41B0DC;
    color: #FFF;
}

.panel.panel-default.panel-collapse-panel {
    margin-bottom: -2px;
}

.panel.panel-default.panel-collapse-panel .collapse.in {

}

.panel.panel-default.panel-collapse-panel .list-group-item {
    line-height: 29px;
}

.panel.panel-default.panel-collapse-panel .glyphicon.glyphicon-chevron-down {
    top: 3px;
}

a {
    outline: none !important;
}
.panel-heading a {
    outline: none !important;
}

.panel-heading a .title {
    text-decoration: underline;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
}

.panel-heading-link .panel-heading {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
}

.panel>.list-group, .panel>.panel-collapse>.list-group {
}

.panel-heading + .panel-body {
    padding: 9px 15px 10px 15px;
}

.panel-group {
    margin-bottom: 18px;
}

.panel-collapse-panel .panel-title .font-icon {
    width: 20px;
    text-align: left;
}