.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-overflow-fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 26px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F5F5F5 50%);
}

.clamp-3 {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clamp-2 {
    display: block;
    display: -webkit-box;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-overflow-help {
    border-bottom: 1px dotted #41B0DC;
    cursor: help;
}