<div class="panel panel-default ">

    <div class="panel-heading">
        <a href="{{ path('compo_articles_index') }}">Статьи</a>
    </div>

    <div class="panel-body">

        <ul class="news-preview">
            {% for article in articles %}

                <li>
                    <div class="date">{{ article.publicationAt|date("d.m.Y") }}</div>

                    <a href="{{ path('compo_articles_show_by_slug', {'slug': article.slug}) }}">{{ article.name }}</a>
                </li>

            {% endfor %}
        </ul>
    </div>
</div>