<div class="panel panel-default ">

    <div class="panel-heading">
        {% block heading %}
            <a href="{{ path('compo_articles_index') }}">Статьи</a>
        {% endblock %}
    </div>

    <div class="panel-body">
        {% block list %}
            <ul class="news-preview">
                {% for article in articles %}
                    {% block list_item %}
                        <li>
                            {% block publication_at %}
                                <div class="date">{{ article.publicationAt|date("d.m.Y") }}</div>
                            {% endblock %}

                            {% block name %}
                                <a href="{{ path('compo_articles_show_by_slug', {'slug': article.slug}) }}">{{ article.name }}</a>
                            {% endblock %}
                        </li>
                    {% endblock %}
                {% endfor %}
            </ul>
        {% endblock %}
    </div>
</div>