{%- set seo_settings = seo_page_manager.settings -%}

{% if seo_settings.yandex_metrika_id %}
    <noscript><div><img src="https://mc.yandex.ru/watch/{{ seo_settings.yandex_metrika_id }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
{% endif %}
