{% set label = label|default('action.link_show_on_site') %}

<a class="sonata-action-element" href="{{ uri }}" target="_blank"><i class="fa fa-eye"></i> {{ label|trans({}, admin.translationDomain) }}</a>