{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% if admin.hasAccess('list') and admin.hasRoute('list') %}
    {% set label = label|default('action.link_list') %}

    <a class="sonata-action-element" href="{{ admin.generateUrl('tree') }}">
        <i class="fa fa-list" aria-hidden="true"></i>
        {{ label|trans({}, admin.translationDomain) }}</a>
{% endif %}
