<div id="content" class="col-sm-8 col-md-9 col-lg-9">

    <div class="row breadcrumbs">
        <div class="col-lg-12">
            <ol class="breadcrumb text-overflow-fade">
                <li>
                    <a href="/"><span>Главная страница</span></a>
                </li>

                <li title="Страница не найдена">
                    Страница не найдена                    </li>
            </ol>
        </div>
    </div>

    <div class="cataright">
        <h1>Страница не найдена</h1>

        <div class="textinside">
            <p>К сожалению, такой адрес не найден на нашем сайте.</p>
            <p>Мы будем рады помочь Вам, предложив несколько вариантов выхода из ситуации:</p>

            <p>1. Вы можете попробовать найти интересующий вас товар с помощью поиска по сайту.</p>

            <form method="get" action="/search/" _lpchecked="1">
                <input id="" name="keyword" class="searchinput" value="Поиск по сайту" onclick="this.value=''; this.onclick='';" type="text"><input value="найти" type="submit"><br style="clear: both;">
            </form>

            <br><br>

            <p>2. Вы можете перейти в любой раздел нашего каталога, в котором наверняка найдете интересные коллекции.</p>
            <p><a href="/category/vanny.html">Ванны</a></p>
            <p><a href="/category/mebel-dlya-vannoy-komnaty.html">Мебель для ванной комнаты</a></p>
            <p><a href="/category/dushevye-kabiny-i-boksy.html">Душевые кабины и боксы</a></p>
            <p><a href="/category/dushevye-kabiny-i-ugly.html">Душевые ограждения</a></p>
            <p><a href="/category/unitazy.html">Унитазы</a></p>
            <p><a href="/category/bide.html">Биде</a></p>
            <p><a href="/category/rakoviny.html">Раковины в ванную комнату</a></p>
            <p><a href="/catalog/pissuary.html">Писсуары</a></p>
            <p><a href="/category/smesiteli.html">Смесители</a></p>
            <p><a href="/category/dushevoe-oborudovanie.html">Душевое оборудование</a></p>
            <p><a href="/category/polotencesushiteli.html">Полотенцесушители</a></p>
            <p><a href="/category/installyacii.html">Инсталляции</a></p>
            <p><a href="/category/slivnoe-oborudovanie.html">Сливное оборудование</a></p>
            <p><a href="/category/aksessuary-dlya-vannoy.html">Аксессуары для ванной комнаты</a></p>
            <p><a href="/category/komplektuyuschie.html">Комплектующие</a></p>
            <p><a href="/catalog/moyuschie-sredstva.html">Моющие средства</a></p>

            <br><br>

            <p>3. Вы можете позвонить по телефонам <strong><span>+7 (495) 582-10-01</span>
                    <span>+7 (495) 727-75-73</span>
                    <span class="free-calls">Бесплатные звонки из регионов:</span>
                    <span>8 (800) 200-73-45</span></strong> и задать любой вопрос нашим менеджерам.</p>
        </div>
    </div>

</div>